$textColor :#e1ebef;
$backGroudColor :#f6fdff;
$headerGroudColor :#29a9d4;
$mainTextColor:-webkit-linear-gradient(45deg, #cc6666,  #33ccff);
$NavTextColor:-webkit-linear-gradient(45deg, #c23c3c,  #33ccff);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    scroll-behavior: smooth;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
 /*  border: 0.3px solid red; */
}



body {
  color: white;
  background: $backGroudColor;
  height: 100vh;
}
.container {
  padding: 0 2rem;
  background-color: $backGroudColor;
}

header{
  display: flex;
  padding: 1rem;
  align-items: center;

  nav{
display: flex;
    margin-left: auto;
    align-items: center;
    display: flex;
    gap: 5px;

    p{
      align-items: center;
      display: flex;
      gap: 3px;
      color: $headerGroudColor;
      
      padding: 0.1rem;
    }
    p:hover{
      color:#00526d;
    }
  }
}



article {
  margin: 3rem;
  padding: 3rem;
  p{
    text-justify: auto;
    width: 90%;
    color: $headerGroudColor;
    font-size: large;
  }
}


figure{
  margin: 4rem;
  padding: 4rem;
  figcaption{
    text-justify: auto;
    width: 70%;
    color: $headerGroudColor;
  }
  h3{
    font-size: 3rem;
  font-weight: bolder;
    color: #006080;
  }
  div{
    display: flex;
    align-self:  center;
    gap: 1rem;
  }
 
  img {

    border-radius:5px;
    box-shadow: 2px 2px 5px #006080;
    display: block;
 
    width: auto;
    height: auto;
  }
 
}
 

.Heading {
  font-weight: bolder;
  background:$mainTextColor; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  gap: 1rem;
}

.HeadingMain {
  font-size: 4rem;
  font-weight: bolder;
  background:$NavTextColor; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

footer {
  display: flex;
 
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: space-evenly;
  align-items: center;

  p{
    gap: 3px;
    display: flex;
    justify-content: center;
    color: $headerGroudColor;
  }

}

.work {

span{
    
  opacity: 1;
    transition: opacity 1s ;
}


}

.work:hover .HeadingMain{
  opacity: 0.1;

}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
  footer{
    display: block;
   
  }

  article {
    margin: 1rem;
    padding: 1rem;
  
  }
  
  figure{
    margin: 1rem;
    padding: 1rem;
  div{
    display: block;

  }
  }
.container{
  padding: 0.5rem;
}
 
}



@media only screen and (max-width: 780px) 
{
  footer{
    display: block;
  
  }

  article {
    margin: 1rem;
    padding: 1rem;
  
  }
  
  figure{
    margin: 1rem;
    padding: 1rem;
  div{
    display: block;

  }
  }
.container{
  padding: 0.5rem;
}
 

}
